<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template Sample</title>
    <script type="text/javascript" src="./template.js"></script>

</head>
<body>
Here are some web components below:
<br/>
<template id="my-paragraph">
    <style>
        p {
            color: white;
            background-color: #666;
            padding: 5px;
        }
    </style>
    These context are from template itself
    <p><slot></slot></p>

    This is after slot text.
</template>
<hr>
<template-sample text="Testing templates">
     This is component content is from component which will rendered in templates slot.
</template-sample>

</body>
</html>
